.tabla{
    margin-top: 2em;
}

.btn-primary{
    margin-bottom: 1em;
}

/* .crear{
    margin-bottom: 1em;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background: green;
    color: white;
    cursor: pointer;
    font-weight: 400;
}

.crear:hover{
    background: #F6F8FA;
    border: 2px solid green;
    color: black;
} */