<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Cuenta adultos</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='style.css'>

</head>

<body>

  <p id="titulo-principal">Afiliación cuenta para adultos</p>


  <form action="/add" method="post">

    <div class="linea-divisora_estudiantil">
      <p>Afiliacion cuenta para adultos</p>
      <img class="imagen"
        src="https://cdn.aarp.net/content/dam/aarp/money/saving-and-investing/2021/10/1140-credit-union-customer-esp.jpg"
        alt="">
      <p>Create Nuevo Miembro!</p>
    </div>

    <div class="contenedor_input">
      <h1>Datos aqui</h1>
      <input type="text" required name="id_cedula" placeholder="Cedula">
      <input type="text" required name="nombre" placeholder="Nombre"><br>
      <input type="text" required name="apellido1" placeholder="Apellido1">
      <input type="text" required name="apellido2" placeholder="Apellido2"><br>

      <!-- 
<div class="contenedor-label_input" >
  <label for="" >Sexo</label>
      <label for="">Hombre</label >
      <input type="radio" name="sexo" class="left-radio">
         <label for="">Mujer</label>
          <input type="radio" name="sexo"> 
     <label for="">Otros</label>
     <input type="radio" name="sexo" placeholder="Apellido"> <br>
</div>
-->

      <!--
<div class="contenedor-label_input">
  <label for="">Estado civil: </label>
      <label for="">Soltero/a</label>
      <input type="radio" required name="estadoCivil">
          <label for="">Casado/a</label>
          <input type="radio" required name="estadoCivil">
      <label for="">Union libre</label>
      <input type="radio" required name="estadoCivil"> 
</div>
-->

      <!-- 
<label for="">Fecha de nacimiento</label>
<input type="date" required> <br>
-->


      <input type="text" class="input-direccion" name="direccion" required placeholder="Dirección"> <br>


      <input type="email" required name="correo_electronico" placeholder="Correo eletronico"> <br>

      <!---
<label for="">Profeción u oficio:</label>
<input type="text" required placeholder="Profeción u oficio"> <br>
-->



      <input type="text" required name="telefono" placeholder="Teléfono Celular">



      <input type="text" name="telefono_respaldo" placeholder="Opcional">
      <br>

      <input type="text" name="fecha_registro" placeholder="Fecha registro"> <br>


      <div class="conten-enviar">
        <button type="submit">Enviar</button>
      </div>

    </div>

  </form>


  <a href="/editlist_miembro_creado">Ver todos los miembros</a> <br>

  <a href="/create_cuenta_infantil">Create cuenta infantil</a>

</body>

</html>