<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Create niño</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src='main.js'></script>
</head>

<body>

    <p id="titulo-principal">¡Afiliación cuenta de ahorro infantil! 2</p>

    <form method="POST" action="/">
        <div class="linea-divisora_estudiantil">
            <p>Afiliación cuenta de ahorro infantil</p>
            <img class="imagen"
                src="https://pymstatic.com/113543/conversions/padre-e-hijo-jugando-default.jpg"
                alt="">
            <p>Create Nuevo Miembro Infantil!</p>
        </div>

        <div class="contenedor_input">
            <h1>Datos aqui</h1>
            <input type="text" required name="cedula" id="cedula" placeholder="Cédula del padre o tutor representante"> <br>
            <div class="contenedor-label_input">
                <label for="">Sexo</label>
                <label for="">Niño</label>
                <input type="radio" name="sexo" class="left-radio">
                <label for="">Niña</label>
                <input type="radio" name="sexo">
            </div>
            <input type="text" required name="nombre" id="nombre" placeholder="Nombre">
            <input type="text" required name="apellido1" placeholder="Primer Apellido"> <br>
            <input type="text" required name="apellido2" placeholder="Segundo Apellido"> <br>
            <input type="text" name="fecha_nacimiento" required placeholder="Fecha de nacimiento"> <br>
            <input type="text" required name="direccion" placeholder="Dirección"> <br>
            <input type="text" name="celular" required placeholder="Teléfono Celular">
            <input type="text" name="opcional" placeholder="Teléfono Celular respaldo"> <br>
            <input type="text" name="fecha_registro_infantil" placeholder="Fecha del Registro"> <br>

            <div class="conten-enviar">
                <button type="submit">Enviar</button>
            </div>

        </div>
    </form>

    <a href="/">Create Nuevo Miembro</a> <br>
 <a href="/create_cuenta_estudiantil">Create Nuevo Miembro Estudiantil</a>


</body>

</html>