<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
</form>

<p id="titulo-principal">¡Afiliación cuenta de ahorro estudiantil! 3</p>



<form action="">



    <div class="linea-divisora_estudiantil">
        <p>Afiliación cuenta de ahorro estudiantil</p>
        <img class="imagen_form_estudiantil"
            src="https://cdn.create.vista.com/api/media/small/505852300/stock-photo-group-three-young-attractive-asian"
            alt="">
        <p>Create Nuevo Miembro Estudiantil!</p>
    </div>







    <div class="contenedor_input"> 
        <h1>Datos aqui</h1>
   <input type="text" required placeholder="Nombre">
    <input type="text" required placeholder="Apellido"> <br>
    
<div class="contenedor-label_input">
  <label for="">3- Sexo</label>
      <label for="">Masculino</label>
      <input type="radio" name="sexo" class="left-radio">
        <label for="">Femenino</label>
       <input type="radio" name="sexo"> 
</div>

<input type="text" required placeholder="Cédula del padre o tutor"> 
<input type="text" required placeholder="Fecha de Nacimiento"> <br>
<input type="email" required placeholder="Correo eletronico"> <br>
<input type="text" required placeholder="Dirección"> <br>
<input type="text" required placeholder="Teléfono Celular">
<input type="text" placeholder="Teléfono Respaldo"> <br>

<p class="linea-divisora_estudiantil">Nivel de educación </p>

<div class="contenedor-label_input">
    <label for="">10- Sabe leer y escribir</label>
    <input type="radio" name="educacion">       
</div>

<div class="contenedor-label_input">
  <label for="">Educacion basica</label>
       <input type="radio" name="educacion"> 
    <label for="">Grado</label>
    <input type="text" placeholder="Grado">
</div>
<div class="contenedor-label_input">
    <label for="">Educacion media</label>
    <input type="radio" name="educacion"> 
       <label for="">Grado</label>
       <input type="text" placeholder="Grado"> 
</div>

<label for="">11- Universitario incompleto</label>
<input type="text" placeholder="Grado"> <br>
       <label for="">Nivel</label>
       <input type="text" placeholder="Nivel">     
    <label for="">Carrera</label>
    <input type="text" placeholder="Carrera">
<br>
        
<div class="conten-enviar">
    <button type="submit">Enviar</button>
</div>

</div>

</form>


<a href="/">Create Nuevo Miembro</a> <br>
<a href="create_cuenta_infantil">Create Nuevo Miembro Ifantil</a>


</body>
</html>